<!DOCTYPE html>
<html lang="en">

{% extends "decision.html" %}

{% block head %} {{ super() }}{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        document.body.removeEventListener("keydown", getNext);
        init_time = Date.now();
    </script>
{% endblock %}

{% block center_top %}
    {{ super() }}
{% endblock %}


{% block center_mid %}
    {{ super() }}
     <div class="row justify-content-center" id="prompt">
    </div>
    <div class="row align-items-center">
        <div class="col" style="max-width: 2%; font-size: xx-large;">
        </div>
        <div class="col">
        </div>
        <div class="col" style="max-width: 2%;font-size: xx-large;">
        </div>
    </div>
    <div class="row justify-content-center" id="predamt" style="font-size: xxx-large;">

    </div>
    <script>
        sub_pred = Number(localStorage.getItem('prediction'))
        full_fill = Number(localStorage.getItem('full_fill'))
        guess_fill = Number(localStorage.getItem('guess_fill'))
        $("#pred_slider").val({{ ret }}).change();
        $("#predamt").text('He returned ${{ ret }}').css('font-size', 'xxx-large')

        if (sub_pred === 0) {
            $(".rangeslider__fill").css('background', 'red');
            console.log('the pred was zero')
        } else if (sub_pred == {{ inv_amt*mult }}){
            $("#js-rangeslider-0").prepend('<div class="rangeslider__fill" id="predError" style="background:red; left: 0; height:100%; width: ' + (guess_fill+20).toString() + 'px; " ></div>');
        }else if (sub_pred < {{ ret }}) {
            console.log('the pred was Less')
            x = (guess_fill/full_fill) * 100;
            y = ({{ ret/(inv_amt*mult)}}) * 100;
            A = Math.abs(y - x) ;
            $(".rangeslider__handle").before('<div class="rangeslider__fill" id="predError" style="background:red; left:'+guess_fill.toString()+'px; height:100%; width:' + A.toString() + '%; " ></div>');
        } else if (sub_pred > {{ ret }}) {
            console.log('the pred was too high')
            $("#js-rangeslider-0").prepend('<div class="rangeslider__fill" id="predError" style="background:red; left: 0; height:100%; width: ' + guess_fill.toString() + 'px; " ></div>');
        } else{};
    </script>

{% endblock %}

{% block center_bttm %}
    <div class="col animated zoomInDown">
        <div class="row">
            <p style="font-size: 2.5em; color: #d02eab"> Why do you think Wilson made this decision?</p>
        </div>
        <div class="row justify-content-center" style="height: 30%;" id="guess_text">

            <div class="input-group input-group-lg" style="height: 100%;">
                <input type="text" class="form-control" onkeyup="startTime = Date.now(); checkID()" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br><br>
            <div class="row" style="width: auto;">
                <button type="button" id="submitID" class="btn btn-primary" onclick="submitReason()" style="font-size: x-large;" aria-disabled="true" disabled>Continue</button>
            </div>
        </div>
    </div>
    <script>
        //const queryString = window.location.search;
        //const urlParams = new URLSearchParams(queryString);

        function submitReason(){
            $.ajax({
                type: "POST",
                url: "guesswhy",
                data: JSON.stringify({
                    'PROLIFIC_PID': new URLSearchParams(window.location.search).get('PROLIFIC_PID'),
                    'trial': new URLSearchParams(window.location.search).get('trial'),
                    'SESSION_ID': new URLSearchParams(window.location.search).get('SESSION_ID'),
                    "subject_response": $(".form-control").val(),
                    "resp_start": (startTime-init_time),
                    "resp_end": (Date.now() - startTime)}),
                traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(){
                    //new URLSearchParams(window.location.search).set('trial', Number({{ trial_num }})+1),
                    window.location.pathname = "/next_trial";}
            });
        }

        function checkID(){
            if ($(".form-control").val().length > 2){
                $("#submitID").attr('disabled' , false)
            } else {
                $("#submitID").attr('disabled' , true)
            }
        }


    </script>
{% endblock %}
</html>