<!DOCTYPE html>
<html>
{% extends  "base.html" %}
{% block head %} {{ super() }}{% endblock %}
<body>
{% block p1_col %}
    <script>$('#left_col').removeClass('col-sm-3')</script>
{% endblock %}
{% block p2_col %}
    <script>$('#right_col').removeClass('col-sm-3')</script>
{% endblock %}
{% block wall1 %}{% endblock %}
{% block wall2 %}{% endblock %}
{% block center_top %}
    <script>$('#center_top ').css('height', '15%')</script>
    <div class="row">
        <div class="row">
            <p style="font-size: x-large;">Welcome to the Prediction Game!</p>
        </div>
        <div class="row">
            <p class="animated bounceInUp" style="font-size: x-large; align-self: flex-start;">Instructions!</p>
        </div>
    </div>

{% endblock %}
{% block center_mid %}
    <script>$('#center_col').removeClass('col-sm-5')</script>
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="false" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>

        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">In this game, you will be observing one player, Wilson, as he interacts with multiple anonymous strangers...</p>
                        <br><br>
                        <img src="../static/images/wilson.png" class="" alt="..." style="max-width: fit-content;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">Wilson has a <span style="color: #d02eab;">~*Magic Multiplying Box*~</span> that quadruples anything placed inside ...</p>
                        <br><br>
                        <div class="row justify-content-center" style="height: 75vh;">
                            <div class="col-sm-4">
                                <img src="../static/images/instruct_box.png" class="w-100" alt="..." style="max-width: fit-content;">
                            </div>
                            <div class="col-sm-4">
                                <img src="../static/images/instruct_box2.png" class="w-100" alt="..." style="max-width: fit-content;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">In each interaction, a stranger, who cannot see Wilson through a wall, decides to put some amount of $10 into the <span style="color: #d02eab;">~*Magic Multiplying Box*~</span>...</p>
                        <br><br>
                        <img src="../static/images/instruct_2.png" class="w-100" alt="..." style="max-width: 42%; border: double black;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">They do so, believing the <span style="color: #d02eab;">~*Magic Multiplying Box*~</span> will multiply their investment by <span style="font-weight:800;">4</span> before it goes to Wilson ...</p>
                        <br><br>
                        <img src="../static/images/instruct_3.png" class="w-100" alt="..." style="max-width: 20%;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">

                    <p style="font-size: xx-large;">They expect Wilson to share the multiplied amount ...</p>
                    <br><br>
                    <div class="col-sm-9">
                        <div class="row justify-content-center">
                            <div class="col">
                                <img src="../static/images/instruct_2a.png" class="w-100" alt="..." style="max-width: fit-content;">
                            </div>
                            <div class="col">
                                <p style="font-size: xxx-large;">&#8594;</p>
                            </div>
                            <div class="col">
                                <img src="../static/images/instruct_2b.png" class="w-100" alt="..." style="max-width: fit-content;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">In reality, however, the <span style="color: #d02eab;">~*Magic Multiplying Box*~</span> can multiply the amount by <span style="font-size: xxx-large">2, 4, or 6</span> ...</p>
                        <br>
                        <img src="../static/images/instruct_mult.png" class="w-100" alt="..." style="max-width: 42%;border: double black;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">Wilson is always aware of the stranger's expectation that the box multiplies by 4 ...</p>
                        <br>
                        <img src="../static/images/instruct_4.png" class="w-100" alt="..." style="max-width: 42%;border: double black;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">Your job is to try and predict how much of the <span style="font-style: italic;">true</span> multiplied amount Wilson will return to the stranger...</p>
                        <br>
                        <img src="../static/images/instruct_5.png" class="w-100" alt="..." style="max-width: 42%;border: double black;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">Afterward, you will be shown Wilson's decision, then watch him interact with someone new...</p>
                        <br>
                        <div class="row">
                            <div class="col-sm-9">
                                <img src="../static/images/instruct_6.png" class="w-100" alt="..." style="max-width: 65%;border: double black;">
                            </div>
                            <div class="col-sm-2 align-self-center animated wobble" style="text-align: left;">
                                <p style="font-size: x-large;">In this case, the stranger expected the magic box to turn her $9 into $36; <br><br>In reality the magic box multiplied the stranger's $9 by 6, giving Wilson $54</p>
                                <p style="font-size: x-large;">Knowing the stranger believes he has $36, Wilson decided to return 18 out of $54,  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <p style="font-size: xx-large;">Sometimes, you will be asked to write down the reason for Wilson's decision...</p>
                        <br>
                        <img src="../static/images/instruct_7.png" class="w-100" alt="..." style="max-width: 42%;border: double black;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="last one" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <h2 class="animated wobble">Bonus!!</h2>
                        <br>
                        <hr />
                            <div class="instructions well" style="background-color: #bfd5f4; ">
                                <h2>Remember to try and learn about how Wilson is making decisions in order to more accurately predict his behavior.</h2>
                                <br>
                                <h2>At the end of the game, your accuracy on a randomly chosen trial will be used to compute a bonus!</h2>
                                <br>
                                <h2>The closer your guess is to Wilson’s actual decision, the larger your bonus will be.</h2>
                                <br>
                                <h2>Predict correctly, and you’ll receive an extra $2!</h2>
                            </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9">
                        <h1>To Recap:</h1>
                        <span style="text-align: left;">
                            <p style="font-size: 2rem;"><b>1.</b>: Others will give money for the magic box to quadruple.</p>
                            <p style="font-size: 2rem;"><b>2.</b>: The box will yield less, more, or exactly what was expected, <span style="color: #ef6ae4; font-size: 30px;" ><i>but only Wilson will know this!</i> </span>
                            <p style="font-size: 2rem;"><b>3.</b>: You’ll predict what Wilson will return.</p>
                            <p style="font-size: 2rem;"><b>4.</b>: You’ll find out how accurate your prediction was</p>
                        </span>
                        <br><br>
                        <h3>You can start with a practice round</h3>
                        <div class="col" id="begin">
                            <a href="/practice" type="button" id="start_bttn" class="btn btn-primary btn-lg" style="font-size: xxx-large;">Practice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" onclick="endInstr()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <script>
    //if ($('.carousel-item active').id === "last one"){}
    function endInstr(){
        console.log('next was pressed')
        if (document.getElementsByClassName('carousel-item active')[0].id === "last one"){
        $('.carousel-control-next').css('display', 'none');
    }
    }

    </script>
{% endblock %}

</body>
</html>