<!DOCTYPE html>
<html>
{% extends  "base.html" %}
{% block head %} {{ super() }}{% endblock %}
<body>
{{ super() }}
{% block wall1 %}{% endblock %}
{% block wall2 %}{% endblock %}
{% block center_mid %}
    <h1> Ready to begin?</h1>
    <br>
    <div class="row">
    <div class="col" id="go">
        <a href="#"  type="button"  onclick='window.location.pathname = "/practice"' id="done" class="btn btn-primary" style="font-size: xxx-large;">Try Again</a>
    </div>
    <div class="col" id="done">
        <a href="#"  type="button"  onclick='window.location.pathname = "/next_trial"' id="done" class="btn btn-primary" style="font-size: xxx-large;">Begin</a>
    </div>
    </div>

{% endblock %}
</body>
</html>