<!DOCTYPE html>
<html>
{% extends  "base.html" %}
{% block head %} {{ super() }}{% endblock %}
<body>
{{ super() }}
{% block wall1 %}{% endblock %}
{% block wall2 %}{% endblock %}
{% block center_mid %}
<h1> You've finished the Prediction Game!</h1>
<h3 style="color: #d02eab">Thanks for playing! Your bonus is: ${{ bonus }}</h3>
    <br><br>
    <h3><i>Tell us what you thought of the game?</i></h3>
    <h4>Did you use a strategy when predicting? Did you find anything odd or confusing? experience technical difficulties?</h4>
    <form method="post" >
                <label></label>
                <textarea type="text" id="trial_text" autocomplete="off" style="border-radius: .5em; font-size: x-large; width: inherit;"></textarea>
                <br>
    </form>
    <div class="col" id="done">
        <a href="#"  type="button"  onclick="submitReason()" id="done" class="btn btn-primary" style="font-size: xxx-large;">Finish</a>
    </div>
<!--button href="https://app.prolific.co/submissions/complete?cc=XXX"  class="btn-lg" onclick="submitReason()" style="font-size: xxx-large">Finish</button-->
<script>
function submitReason(){
            console.log('Reasons were submitted.')
            $.ajax({
                type: "POST",
                url: "thanks",
                data: JSON.stringify({"subject_feedback": document.getElementById("trial_text").value}),
                traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(){window.location.href = "https://app.prolific.co/submissions/complete?cc=XXX";}
            });
        }
</script>
{% endblock %}
</body>
</html>